.enable {
    visibility: visible;
    opacity: 1;
}

.disable {
    visibility: hidden;
    opacity: 0;
}

.container-content {
    .user-controls {
        position: absolute;
        width: 72px;
        height: 72x;
        top: 40px;
        right: 10%;
        .avatar-user {
            width: 100%;
            height: 100%;
            cursor: pointer;

            img {
                width: 100%;
                object-fit: contain;
            }
        }

        .nav-user {
            position: absolute;
            top: calc(108%);
            right: calc(100% - 100px);
            width: 240px;
            list-style-type: none;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid #ccc;
            padding: 12px 20px;
            color: #000;
            transition: all 0.3s linear;

            .title {
                border-bottom: 1px solid #ccc;
                padding: 20px 0;

                .name-user {
                    font-weight: 600;
                    font-size: 20px;
                }

                .occupation {
                    opacity: 0.6;
                    color: #ccc;
                    font-size: 14px;
                }
            }

            .options {
                padding: 12px 0px 20px 10px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #ccc;
                cursor: pointer;
                font-size: 16px;


                img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                    margin-right: 40px;
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            &::before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                border: {
                    left: 10px solid transparent;
                    right: 10px solid transparent;
                    bottom: 10px solid #fff;
                }
                transform: translate(-280%,-100%);
            }
        }
    }
}